VITE_SUPABASE_URL=https://abaglpgnuhbhsfcwjagz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFiYWdscGdudWhiaHNmY3dqYWd6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5NDczMzUsImV4cCI6MjA5ODUyMzMzNX0.AwZlQWKKV18d7BWE-kf3z7aSlQuo55w8jj29CdpeTdI
